body {
    background-color: pink;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    text-align: center;
}
.img {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.shop {
    background-color: white;
    color: black;
    text-align: center;
}


